

h1 { background-color: rgba(255, 0, 0, 0.5); 
	font-family: sans-serif;
	font-size: 4em;
	text-shadow: 2px 3px 2px #000000; }

body { background_color: lightgrey; }


footer { background_color: lightblue;
	font-family: Arial, sans-serif;
	color: darkblue;
	padding: 10px;
	border: 1px dashed darkblue;  }

#notice {width: 40%; margin: 0 auto: }
	

.heady { color: rgba(255, 0, 0);
	border-bottom: 2px dotted black; }

#section {color: red;
	font-family: Arial, sans-serif;
	font-size: small;
	background-color: grey;
	width: 80%;
	box-shadow: 3px 3px 6px #666666; }
nav a:hover { text-decoration: none; }