body { background-color: #000000;
	color: #FFFFFF;	
	font-family Arial, Helvetica, sans-serif; }


nav a {  background-color: #cccccc; }

h1 { font-family: "Times New Roman", serif;
	color: #CCCCCC }

.news { color: #D30000;
	font-style: italic; }